<h1>Editar Chocoamigo</h1>

<%= render 'form', friend: @friend %>
<br/>
<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Show', @friend,  class:"btn btn-dark" %> 
<%= link_to 'Back', friends_path,  class:"btn btn-dark"%>
</div>